
.recipeImg{
    transition: 2s;
}
.recipeImg:hover{
    scale:1.12;
    transition: ease-in-out 1s;
    rotate: 180deg;
}
.scroll-text{
    white-space: wrap;
    display: inline-block;
    animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
    
}