<div class="container">
    <div class="my-1 d-flex row align-items-center p-1"
        style="width: 102%; height: 100vh; background-image: url('https://img.freepik.com/free-photo/copy-space-italian-food-ingredients_23-2148551732.jpg?semt=ais_hybrid&w=740&q=80'); background-size: cover; background-repeat: no-repeat;">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
            <div class="text-center mt-5">
                <h1>Create a new account</h1>
                <p class="fs-5">Fresh ideas start with a login</p>
            </div>
            <ul class="my-3 mx-5">
                <li>Save your favorite recipes in one place</li>
                <li>Create personalized meal collections</li>
                <li>Get smart recipe suggestions</li>
                <li>Rate and review recipes you try</li>
            </ul>
        </div>
        <div class="col-lg-5">
            <form (ngSubmit)="register()" [formGroup] ="registerForm" style="width: 380px;" class="border rounded shadow p-5 mt-3">
                <h3 class="mb-4 text-center">
                    <i class="fa-solid fa-utensils text-dark"></i>
                    Cookpedia
                </h3>
                <div class="mb-3">
                    <input formControlName="username" name="username" type="text" class="form-control" placeholder="Username">
                </div>
                @if (registerForm.get('username')?.errors && registerForm.get('username')?.touched) {
                    <div class="text-danger mb-3">*Invalid Username</div>
                }
                <div class="mb-3">
                    <input formControlName="email" name="email" type="text" class="form-control" placeholder="Email">
                </div>
                @if (registerForm.get('email')?.errors && registerForm.get('email')?.touched) {
                    <div class="text-danger mb-3">*Invalid Email</div>
                }
                <div class="mb-3">
                    <input formControlName="password" name="password" type="password" class="form-control" placeholder="Password">
                </div>
                @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched) {
                    <div class="text-danger mb-3">*Invalid Password</div>
                }
                <div class="mb-3 d-grid">
                    <button type="submit" class="btn btn-success text-light">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>